.container{
    display: flex;
}

.leftBar{
    flex: 1;
    background-color: var(--myDarkBlue);
    color: var(--whiteText);
    min-height: 100vh;
}

.content{
    flex: 5;
}

.chldren{
    padding: 0 20px;
}